@using Library;
@model IEnumerable<Library.User>

@{
    Layout = null;
}

<p>
    @Html.ActionLink("建立新的會員", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (User item in Model)
    {
        using (Html.BeginForm("Delete", "User", new { id = item.Id }))
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>

                        <input type="button" value="編輯" onclick="location.href='@Url.Action("Edit", "User", new{ id = item.Id })'" />
                        <input type="button" value="明細" onclick="location.href='@Url.Action("Details", "User", new{ id = item.Id })'" />
                        <input type="submit" value="刪除"
                               onclick="return confirm('確定要刪除嗎? Id = @item.Id , Name = @item.UserAccount');" />
                    </td>
                </tr>
            }
        }


    </table>