@model Library.Message
@{
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="row">
    <h2>新增留言</h2>

    @using (Html.BeginForm("Create", "Message"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">

        @Html.Hidden("UserId", "1")
        @Html.Hidden("UserName", "BBB")

        <div class="form-group">
            @Html.Label("Context", "內容", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("Context", " ", 6, 60, new { style = "border: solid 1px #ccc; border-radius: 0.25rem; " })
                @Html.ValidationMessageFor(model => model.Context, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="留言" class="btn btn-default  " />
            </div>
        </div>
    </div>
    }
    <div>
        @Html.ActionLink("回到列表", "Index")
    </div>
</div>